.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;  
  overflow: hidden;
}

.modal {
  width: 800px;
  background: white;
  color: rgb(0, 0, 0);
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.modalHeader {
  position: fixed;
  z-index: 999;
  height: 50px;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
}

.heading {
  margin: 20px 0 0 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.modalContent {
  margin-top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
  padding-right: 20px;
}

.line {
  margin-top: 20px;
  width: 100%;
  color: #000;
}

.priceBox {
  color: #000;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.priceBox h4,
h5 {
  margin: 0px 0px;
  padding: 10px 0;
}

.closeBtn {
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  position: absolute;
  right: 20px;
  top: 20px;
}


@media only screen and (max-width: 1220px) {
  .modal {
    width: 600px;
  }
}

@media only screen and (max-width: 786px) {
  .modal {
    width: 450px;
  }

  .closeBtn {
    right: 10px;
    top: 10px;
    padding: 4px 6px;
    font-size: 14px;
  }

  .modalHeader {
    height: 30px;
  }

  .modalContent {
    margin-top: 40px;
  }

  .heading {
    font-size: 25px;
  }

}

@media only screen and (max-width: 480px) {
  .heading {
    font-size: 25px;
  }
  .modal {
    padding: 15px;
    width: 300px;
  }

  .heading {
    font-size: 20px;
  }

  .priceBox h4,
  h5 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 380px) {
  .modal {
    width: 250px;
  }
  .priceBox h4,
  h5 {
    font-size: 12px;
  }
}