.container {
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, .1);
    position: relative;
    margin-top: 20px;
}

.container .cardBox {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100px;
}

.cardBox .cardBoxHeader .cardBoxImage {
    width: 200px;
    height: 100px;
    border-radius: 12px;
}

.cardBox .cardBoxBody {
    padding: 20px 20px 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cardBoxBody .cardBoxName {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    width: 300px;
}

.cardBoxBody .cardBoxPrice {
    color: #000;
    font-weight: normal;
    font-size: 16px;
}

.cardBoxClose {
    position: absolute;
    right: 13px;
    top: 10px;
}

.cardBoxDeleteBtn {
    font-size: 16px;
    border: none;
    color: #000000;
    cursor: pointer;
}

@media only screen and (max-width: 1220px) {
    .cardBoxBody .cardBoxName {
        font-size: 15px;
        width: 180px;
    }
}

@media only screen and (max-width: 786px) {
    .container .cardBox {
        display: block;
        height: auto;
        box-sizing: border-box;
    }

    .cardBox .cardBoxHeader .cardBoxImage {
        width: 100%;
        height: 150px;
        border-radius: 14px;
    }

    .cardBox .cardBoxBody {
        padding: 10px 15px 15px 15px;
        box-sizing: border-box;
    }

    .cardBoxBody .cardBoxName {
        font-size: 12px;
        width: 150px;
        margin: 0;
    }

    .cardBoxBody .cardBoxPrice {
        color: #000;
        font-weight: normal;
        font-size: 14px;
    }

    .cardBoxClose {
        position: absolute;
        right: 0px;
        top: 0px;
        background: #fff;
    }

    .cardBoxDeleteBtn {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .cardBox .cardBoxHeader .cardBoxImage {
        height: 120px;
    }
    .cardBoxBody .cardBoxPrice {
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .cardBox .cardBoxHeader .cardBoxImage {
        height: 100px;
    }
}